body {
    margin: 50px;
}

.coffee-video{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

.coffee-table {
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.mainHeader {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: #f5edda;

}

.mug {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 19vh;

}

.coffee-background{
    background-color: #ca9e7b;
    padding: 20px;
    border:10px solid #98694f;
    border-radius: 5%;
    margin-top: 30px;

    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    top: 10px;

}

/*.sticky {*/
/*    position: -webkit-sticky; !* Required for Safari *!*/
/*    position: sticky;*/
/*}*/

.cardStuff {
    margin: 1em;
    background-color: #603839;
    border: 10px solid #bfa894;
    color: #f5edda;
    font-family: 'Alegreya Sans', sans-serif;
    animation: expand .3s ease-in-out;

}

.card-body {
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 0;
        background: #5470B0;
    }
}

hr {
    background-color: #f5edda;
    width: 60%;
}

option {
    text-align: center;
}

#add-id{
    margin-top: 25px;
}

#coffee-selector{
    font-weight: bold;
    color: #615640;
}


#roast-selector{
    font-weight: bold;
    color: #363636;
}

#createRoastLabel{
    font-weight: bold;
    color: #363636;
}

#createCoffeeLabel{
    font-weight: bold;
    color: #363636;
}

#submit{
    background-color: #363636;
    border-color: #66462f;
    color: #f5edda;
}

#submitCreate{
    background-color: #363636;
    border-color: #66462f;
    color: #f5edda;
}