body {
    margin: 50px;
    background-image: url("img/coffee-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.mainHeader {
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: #ffb1b5;
}


option {
    text-align: center;
}

#coffee-selector{
    font-weight: bold;
    color: #615640;
}


#roast-selector{
    font-weight: bold;
    color: sandybrown;
}